USE [master]
GO
/****** Object:  Database [oft-office-db]    Script Date: 27-Jun-21 13:20:42 ******/
CREATE DATABASE [oft-office-db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'oft-office-db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\oft-office-db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'oft-office-db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\oft-office-db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oft-office-db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oft-office-db]
GO
/****** Object:  Table [dbo].[korisnikSistema]    Script Date: 27-Jun-21 13:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[korisnikSistema](
	[KorisnikId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](50) NULL,
	[Prezime] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](255) NULL,
 CONSTRAINT [PK_korisnikSistema] PRIMARY KEY CLUSTERED 
(
	[KorisnikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lekar]    Script Date: 27-Jun-21 13:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lekar](
	[lekarId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](50) NULL,
	[Prezime] [varchar](50) NULL,
	[Specijalizacija] [varchar](255) NULL,
 CONSTRAINT [PK_lekar] PRIMARY KEY CLUSTERED 
(
	[lekarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pacijent]    Script Date: 27-Jun-21 13:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pacijent](
	[BrojKartonaId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](50) NULL,
	[Prezime] [varchar](50) NULL,
	[DatumRodjenja] [datetime] NULL,
	[Telefon] [varchar](50) NULL,
	[Oboljenja] [varchar](1023) NULL,
	[Dioptrija] [bit] NULL,
	[Opis] [varchar](1023) NULL,
PRIMARY KEY CLUSTERED 
(
	[BrojKartonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pregled]    Script Date: 27-Jun-21 13:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pregled](
	[PregledId] [int] IDENTITY(1,1) NOT NULL,
	[LekarId] [int] NOT NULL,
	[BrojKartonaId] [int] NOT NULL,
	[DatumPregleda] [datetime] NULL,
	[BrojPregleda] [int] NULL,
 CONSTRAINT [PK_pregled] PRIMARY KEY CLUSTERED 
(
	[PregledId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stavkaPregleda]    Script Date: 27-Jun-21 13:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stavkaPregleda](
	[PregledId] [int] NOT NULL,
	[StavkaPregledaId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NULL,
	[TipIntervId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PregledId] ASC,
	[StavkaPregledaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipIntervencije]    Script Date: 27-Jun-21 13:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipIntervencije](
	[TipIntervId] [int] IDENTITY(1,1) NOT NULL,
	[Opis] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipIntervId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pregled]  WITH CHECK ADD  CONSTRAINT [FK_pregled_Lekar] FOREIGN KEY([LekarId])
REFERENCES [dbo].[lekar] ([lekarId])
GO
ALTER TABLE [dbo].[pregled] CHECK CONSTRAINT [FK_pregled_Lekar]
GO
ALTER TABLE [dbo].[pregled]  WITH CHECK ADD  CONSTRAINT [FK_pregled_Pacijent] FOREIGN KEY([BrojKartonaId])
REFERENCES [dbo].[pacijent] ([BrojKartonaId])
GO
ALTER TABLE [dbo].[pregled] CHECK CONSTRAINT [FK_pregled_Pacijent]
GO
ALTER TABLE [dbo].[stavkaPregleda]  WITH CHECK ADD  CONSTRAINT [FK_stavkaPregleda_Pregled] FOREIGN KEY([PregledId])
REFERENCES [dbo].[pregled] ([PregledId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stavkaPregleda] CHECK CONSTRAINT [FK_stavkaPregleda_Pregled]
GO
ALTER TABLE [dbo].[stavkaPregleda]  WITH CHECK ADD  CONSTRAINT [FK_stavkaPregleda_TipIntrv] FOREIGN KEY([TipIntervId])
REFERENCES [dbo].[tipIntervencije] ([TipIntervId])
GO
ALTER TABLE [dbo].[stavkaPregleda] CHECK CONSTRAINT [FK_stavkaPregleda_TipIntrv]
GO
USE [master]
GO
